class Config:
    UPLOAD_DIR = r""
    OCTOPART_APIKEY = ""


class DevelopmentConfig:
    UPLOAD_DIR = r""
    OCTOPART_APIKEY = ""


class ProductionConfig:
    UPLOAD_DIR = r""
    OCTOPART_APIKEY = ""
